[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appium-python-client = "*"
pytest = "*"
selenium = "*"
pytest-xdist = "*"
pytest-html = "*"
black = "*"
toolium = "*"

[requires]
python_version = "3.7"
